.page {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: $page-background;
  transition: all 0.8s ease;
  box-shadow: none;
  &__main {
    min-height: 100vh;
    width: 100%;
    max-width: $screen-extra-large;
    margin: 0 auto;
    position: relative;
    transition: all 0.8s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: show 0.5s;
    z-index: 999;
    &:after {
      width: 100%;
      height: 100%;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background-image: url('images/main-background2.png');
      background-position: fixed;
      background-size: cover;
      opacity: .05;
      z-index: -99;
    }
  }
}

.active {
  margin: 0 auto;
  transform: scale(.8);
  overflow: hidden;
  &:after {
    @include float-shadow;
    animation: show 0.5s linear 0.5s forwards;
  }
  @media (min-width: $tablet-large) {
    right: -10%;
    transform: scale(.7);
  }
}

.overlay {
  z-index: 1;
}
