.page {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: $page-background;
  transition: all 0.8s ease;
  box-shadow: none;
  &__main {
    min-height: 100vh;
    width: 100%;
    max-width: $screen-extra-large;
    margin: 0 auto;
    position: relative;
    transition: all 0.8s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: show 0.5s;
  }
}

.active {
  margin: 0 auto;
  transform: scale(.8);
  overflow: hidden;
  &:after {
    @include float-shadow;
    animation: show 0.5s linear 0.5s forwards;
  }
  @media (min-width: $tablet-large) {
    right: -10%;
    transform: scale(.7);
  }
}

.overlay {
  z-index: 1;
}
