.slideBig {
  text-align: center;
  @media (min-width: $screen-large) {
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  &__header {
    position: relative;
    padding: 0;
    z-index: 1;
    @media (min-width: $screen-large) {
      padding: 1em 0 .5em 0;
    }
    &:after {
      visibility: hidden;
      @media (min-width: $screen-large) {
        visibility: visible;
        z-index: -1;
        width: 20%;
        height: 2em;
        content: '';
        border: 2px solid $main-white;
        position: absolute;
        top: 1.5em;
        left: 70%;
      }
    }
  }
  &__wrap {
    @media (min-width: $screen-large) {
      display: flex;
    }
    &__paragraph {
      flex: 3;
      @include content;
      padding: 1em;
      @media (min-width: $screen-large) {
        padding: 0 2em 0 0;
      }
    }
    &__buttons {
      margin: .5em;
      @media (min-width: $screen-large) {
        margin: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      &__btn {
        @include btn-small;
        position: relative;
        margin: .5em;
        color: $font-color;
        @media (min-width: $tablet-small) {
          margin: 0;
        }
        &:before, &:after {
          @include btn-hover;
          width: 100%;
          height: 100%;
          top: 2%;
          left: 0;
        }
        &:before {
          @include btn-hover-before;
        }
        &:after {
          @include btn-hover-after;
        }
        &:hover {
          &::after, &::before {
            -webkit-transform: scale(1);
            cursor: pointer;
          }
        }
      }
    }
  }
}
