//----------------------------------*\
// Main Colors
//----------------------------------*/
$nav-background: #333;
$page-background: radial-gradient(#fff, #ccc);
$body-background: #E6EEF6;
$accent: #424242;
$counter: #78100B;
$accentRGBA: rgba(255, 255, 255, 0.6);
$main-white: #bfbfbf;
$shadow: -1px -1px 1px #111, 2px 2px 1px #363636;


//----------------------------------*\
// Fonts
//----------------------------------*/
$main-font: 'Source Sans Pro', sans-serif;
$heading: 'Source Sans Pro', sans-serif;
$font-color: #424242;
$nav-color: #bfbfbf;
//----------------------------------*\
// Paddings & margins
//----------------------------------*/
$radius: 0.25em;
$circle: 50%;
$red-border: 1px solid #fa4e3e;
$desktop-padding: 4em;
$mobile-padding: 1em;


//----------------------------------*\
// Screen Sizes
//----------------------------------*/
$mobile-small:	240px;
$mobile-large:	320px;
$tablet-small:	480px;
$tablet-large:	768px;
$screen-small:	1024px;
$screen-large:	1280px;
$screen-extra-large: 1520px;
//----------------------------------*\
// Border
//----------------------------------*/
